spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tradeflow_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  application:
    name: tradeflow

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      format_sql: true

server:
  port: 8080